<h1>Orders Listing</h1>
<div>
    <% @orders.each do |order| %>
        <div>
            <p>Store: <%= order.store[:name] %></p>
            <p>User: <%= order.user_id %>
        </div>
    <hr/>
    <% end %>
</div>
<div><%= link_to "Back to Homepage", root_path %></div>